body{
	background-color: #FFFFF0
}

a {
  color: inherit;
  text-decoration: none;
}

section {
	overflow: hidden;
	width: 100%;
	padding: 4px 20px;
	clear: both;
}


.name {
	font-family: 'Nixie', cursive;
	font-size: 24px;
}

.my_icon {
	margin: 4px 20px;
	float: left;
}

.my_icon_i {
	width: 72px;
}

.paragraph {
	font-family: 'Nixie One' cursive;
	font-size: 24px;

}

.list {
	margin: 4px 20px;
	padding: 0px 20px 20px 0px;
	list-style: none;
}

.list_item {
	padding: 5px 10px 5px;
	font-family: 'Nixie One' cursive;
	font-size: 18px;
}