body{
	background-color: #FFFFF0
}

a {
  color: #225577;
  text-decoration: none;
}

section {
	overflow: hidden;
	width: 100%;
	margin: 20px 20px 0px;
	padding: 4px 20px;
	clear: both;
}

.name {
	font-family: 'Nixie', cursive;
	font-size: 36px;
	padding-top: 14px;
}

.my_icon {
	margin: 4px 20px;
	float: left;
}

.my_icon_i {
	width: 72px;
}

.paragraph {
	font-family: 'Nixie One' cursive;
	font-size: 24px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.list {
	margin: 4px 10px;
	padding: 0px 20px 0px 0px;
}

.list_item {
	padding: 5px 20px 5px;
	font-family: 'Nixie One' cursive;
	font-size: 18px;
}